{% extends "base.html" %}
{% block title %} - ascii Art{% endblock %}
{% block content %}
<h2>/ascii/</h2>
<div class="wrapper">
    <div class="column1">
        <form method="post">
            <label>
                <div>title</div>
                <input class="art-input" type="text" name="title" value="{{title}}">
            </label>
            <label>
                <div>art</div>
                <textarea class="art-input" name="art">{{art}}</textarea>
            </label>
            <div class="error">{{error}}</div>
            <input type="submit" value="Add">
        </form>
    </div>
    <div class="column2">
        {% if img_url %}
            <img class="map float-right" src="{{img_url}}">
        {% endif %}
    </div>
</div>

<div class="clearfix"></div>

<hr>
{% for art in arts %}
<div class="art">
    <div class="art-title">{{art.title}}</div>
    <pre class="art-body">{{art.art}}</pre>
</div>
{% endfor %}
{% endblock %}